@import url('https://fonts.googleapis.com/css2?family=Anton&family=M+PLUS+Rounded+1c&family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&family=Rubik:ital,wght@1,900&family=Tenor+Sans&display=swap');


* {
    box-sizing: border-box;
    
}

/* html {
    min-width: 1000px;
} */

:root{
    --base-clr: #f9eed3aa;
    --hover-clr: #ffffff;
    --accent-clr: #832626;
    --text-clr: #f9f9f9;
    --title-clr:#832626;
    --yellow:#832626;
    --green: #93b99fe0;
    --bckg-color:#333;
}

body {
    font-family: "Michroma", serif;
    margin: 0;
    padding: 0;
    font-size:small;
    background-color: #f4f4f9;
    color: var(--accent-clr);

}

header {
    position: relative; 
    width:100%;
    height: 150px; 
    background-color: var(--title-clr); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 20px; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: var(--text-clr); 
    margin: 0;
    z-index: 2; 
    position: relative;
}

#car-image {
    position: absolute;
    top: 50%;
    transform:translateX(50%);
    transform: translateY(-30%); 
    width: 200px; 
    height: auto; 
}


header h1 {
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}


nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: var(--bckg-color);
    width:100%;
    height:55px;
    overflow: hidden; 
}

nav ul li {
    margin: 0 1rem; 
    padding: 1rem 1.0rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #555;
}

.main{
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:auto;
    max-width: 1000px;
    text-align: center;
}

dl {
    text-align: left;
    margin: 1rem 0;
    padding: 0;
}

dl dt {
    font-weight: bold;
    margin-top: 1rem;
}

dl dd {
    margin: 0.5rem 0 0 1rem;
    color: #555;
}

li {
    text-decoration: none;
}

input, textarea{
    height:2rem;
    text-align: center;
    width:80%;

    background-color: var(--base-clr);
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height:40px;
    padding: 1em;
    margin: 10px;
    font: inherit;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--text-clr);
    border-left: none;
    transition: 150ms ease;
}

input:hover, textarea:hover{
    transition: 350ms ease;
    border-color: var(--green);
}

input:focus, select:focus{
    transition: 350ms ease;
    border: #f3d868;
    /* outline:none; */
    outline-color: #b6b6b6;
    /* outline:none;
    background-color: #f9e59779;
    border: #f3d868; */
}

div:has(input:focus) > label{
    transition: 350ms ease;
    background-color: var(--yellow);
}

button{
    margin-top: 10px;
    border:none;
    border-radius: 1000px;
    padding: .85em 4em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    font: inherit;
    color:white;
    background-color: var(--yellow);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

select{
    height:3rem;
    text-align: center;
    width:80%;
    background-color: var(--base-clr);
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    /* height:40px; */
    padding: 1em;
    margin: 10px;
    font: inherit;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--text-clr);
    border-left: none;
    transition: 150ms ease;
}

option{
    padding:2em;
    margin: 60px;
}


/* #flash-messages{
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    font-size: 18px;
    text-align: center;

}  */


/* .flash-message {
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 18px;
    text-align: center;
} */

#flash-messages {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
}

.flash-message {
    /* background-color: rgba(50, 50, 50, 0.9); */
    color: black;
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}


.content{
    position: fixed;
    background-color: #fefefe00;
    margin: auto; 
    padding: 20px;
    border: 1px solid #88888800;
    width:500px;
    max-width: 500px;
    top:20%;
    z-index: 4;
}

.flash-message.success {
    background-color: rgba(40, 167, 69, 0.8); /* Zielony z przezroczystością */
    color: #fff;
}

.flash-message.error {
    background-color: rgba(224, 3, 25, 0.8); /* Czerwony z przezroczystością */
    color: #fff;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /* <div class = "main" style="text-align: center;">
  {% block button %}
  {% endblock %}

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <div id="flash-messages">
      {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
      </div>
  {% endif %}
  {% endwith %} */

  /* #data-table tbody{
    display: flex;
    justify-content: center;
  } */

  #data-table {
    font-size:8;
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;

  }
  
  #data-table tr:nth-child(even) {
    background-color: beige;
    color:darkblue;
  }
  
  #data-table td, #customers th {
    padding: 8px;
  }
  
  #data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding: 8px;
    margin:5px;
    text-align: center;
    background-color: var(--bckg-color);
    color: var(--text-clr);
  }

  #description{
    height: auto; /* Dostosowuje wysokość do zawartości */
    padding: 50px;
    box-sizing: border-box;
    resize: none;
    overflow-wrap: break-word; /* Zawijanie tekstu */
    word-wrap: break-word;
    white-space: pre-wrap;
  }


  ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 50px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    height:auto;
    width:auto;
    padding:10px;
}

ul li ul li {
    float: none;
    /* padding: 10px 16px; */
}

ul li ul li:hover {
    background-color: #575757;
}

ul li:hover ul {
    display: block;
}

/* #rentals_clients_id {
    width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#clients {
    max-height: 10px; 
    overflow-y: auto; 
} */

datalist {
    max-height: 50px;
    overflow-y: auto;
}

#delete-record{
    all: unset;
    cursor: pointer;  
    border: none
}





