{% extends "data.html" %}

{% block form %}

{% if mode == "search" %}
    <form id="search-form" action="/brands/search">
        <input type="text" name="query" placeholder="Wyszukaj samochód">
        <button type="submit">Szukaj</button>
    </form>
{% elif mode == "add" %}
    <form id="add-form" action="/brands/add" method="post">
        <input type="text" name="brands_brand_name" placeholder="Nazwa marki" required>
        <button type="submit">Dodaj markę</button>
    </form>
{% endif %}
{% endblock %}
