{% extends "data.html" %}

{% block form %}
{% if mode == "add" %}
    <form id="add-form" action="/cars/add" method="post">
        <input type="text" name="registration" placeholder="Numer rejestracyjny" required>
        <input type="text" name="rok" placeholder="Rok" required>

        <select id="model_id" name="model_id" required>
            <option value="" disabled selected>Wybierz model</option>
            {% for model in data_set[0]%}
                <option value="{{ model.id_model }}">{{model.nazwa_modelu }}</option>
            {% endfor %}
        </select>
        <button type="submit">Dodaj samochód</button>
    </form>
{% endif %}
{% endblock %}

