{% extends "data.html" %}

{% block form %}

{% if mode == "add" %}
    <form id="add-form" action="/rentals/add" method="post">
        <input list="clients" id="clientInput" name="client_name" placeholder="Wybierz klienta" autocomplete="off" required>
        <datalist id="clients">
            {% for client in data_set[0] %}
                <option value="{{ client.imie ~ ' ' ~ client.nazwisko }}" data-id="{{ client.id_klient }}"></option>
            {% endfor %}
        </datalist>
        <input type="hidden" id="clientId" name="client_id">

        <select id="rental_brand_id" name="rental_brand_id" required>
            <option value="" disabled selected>Wybierz markę</option>
            {% for brand in data_set[2]%}
                <option value="{{ brand.id_marka }}">{{brand.nazwa_marki }}</option>
            {% endfor %}
        </select>

        <select id="rental_model_id" name="rental_model_id" required>
            <option value="" disabled selected>Wybierz model</option>
            {% for model in data_set[1]%}
                <option value="{{ model.id_model }}">{{model.nazwa_modelu }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="start_rental_date">Wybierz datę poczatkową:</label>
        <br>
        <input type="date" id="start_rental_date" name="start_rental_date" required>
        <br>
        <label for="end_rental_date">Wybierz datę końcową:</label>
        <br>
        <input type="date" id="end_rental_date" name="end_rental_date" required>
        <button type="submit">Dodaj zamówienie</button>
    </form>
{% endif %}
{% endblock %}